@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap');


* {
  margin: 0;
  padding: 0;
}


:root {
  --font-family: 'Rubik', sans-serif;
  --font-light: 300;
  --font-medium: 500;
  --font-bold: 700;
  --font-text: 1.1rem;
  --font-h1: 1.7rem;
  --font-h2: 1.55rem;
  --font-h3: 1.35rem;


  --color-body-bg: #fffdfb;
  --color-sidebar-bg: #fffdfb;
  --color-main-bg: #fffdfb;
  --color-topbar-bg: #fffdfb;
  --color-cards-bg: ;
  --color-btn-bg: #242424;
  --color-footer-bg: ;

  --color-default-text: #2b2d42;
  --color-logo-icon: #2b2d42;
  --color-btn-text: ;
  --color-sidebar-icons: #457b9d;
  --color-topbar-icons: ;
  --color-sidebar-text: #457b9d;
  --color-sidebar-hover: #f4a261;
  --color-main-headings: #ffffff;
  --border-search: 1px solid #edede9;

}

body {
  background-color: var(--color-body-bg);
  font-family: var(--font-family);
  font-weight: 300;
  width: 100vw;
  height: 100vh;
}

h1,
h2,
h3 {
  text-transform: capitalize;
}

h3 {
  font-weight: 500;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto;
}

.sidebar {
  padding: 35px 25px;
  background-color: var(--color-sidebar-bg);
}

.nav-link{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 30px 1fr;
  align-items: center;
  padding: 5px 0;
  color: var(--color-sidebar-text);
}

.company-logo {
  margin-bottom: 40px;
  position: relative;
}

.company-logo img{
  display: inline;
  position: absolute;
  width: 1.7rem;
  height: auto;
  fill: var(--color-sidebar-icons);
  top: 1px;
  left: 55px;
}

.company-logo h1 {
  display: inline;
  font-size: var(--font-h1);
}

.item{
  font-size: var(--font-text);
  text-transform: capitalize;
  font-weight: var(--font-medium);
  margin-bottom: 14px;  
}

.item:nth-child(8) {
  margin-top: 40px;
}

.item-icon {
  width: 1.3rem;
  height: auto;
  fill: var(--color-sidebar-icons);
}

.nav-link:hover, .nav-link svg:hover {
  color: var(--color-sidebar-hover);
  fill: var(--color-sidebar-hover);
}

.main {
  display: flex;
  flex-direction: column;
  background-color: var(--color-main-bg);
  padding: 40px 15px; 
}

/* .profile-info  * {
  border: 1px solid coral;
} */

.topbar {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  background-color: var(--color-topbar-bg);
}

.search {
  display: grid;
  grid-template-columns: auto 4fr 2fr;
  grid-template-rows: auto;
  align-items: center;
  padding-bottom: 24px;
}

.search-icon, .reminder-icon {
  width: 1.35em;
  height: auto;
  fill: var(--color-topbar-icons);
}

.search-bar {
  width: 85%;
  height: 1.5rem;
  border: var(--border-search);
  border-radius: 8px;
  padding: 3px 8px;
}
.search-icon {
  margin-right: 8px;
}

.profile-info {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  align-items: center;
  justify-items: start;
  gap: 0.8rem;
  font-weight: var(--font-medium);
}

.profile-icon-sm{
  width: 40px;
  height: auto;
  border-radius: 50%;
}

.actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.greeting {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: auto;
}

.profile-icon-lg {
  height: 75px;
  border: 1px solid grey;
  border-radius: 50%;
}

.ctrl-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ctrl-btns button {
  background-color: var(--color-btn-bg);
  color: var(--color-btn-text);
}

.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
}

.content * {
  /* border: 1px solid coral; */
}

.trending {
  grid-column: 2;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.projects h2 {
  grid-column: span 2;
}

.card {
  background-color: var(--color-cards-bg);
}

footer {
  grid-column: span 2;
}