@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .1s ease-in;
}

:root {
  --font-family: 'Rubik', sans-serif;
  --font-light: 300;
  --font-medium: 500;
  --font-bold: 700;
  --font-text: 1.1rem;
  --font-h1: 1.7rem;
  --font-h2: 1.55rem;
  --font-h3: 1.35rem;

  --color-body-bg: #fffdfb;
  --color-sidebar-bg: cornflowerblue;
  --color-main-bg: #f5f7f8;
  --color-topbar-bg: #fffdfb;
  --color-cards-bg: #fffdfb;
  --color-btn-bg: #457b9d;
  --color-footer-bg: ;

  --color-default-text: #2b2d42;
  --color-logo-icon: #2b2d42;
  --color-btn-text: #fffdfb;
  --color-sidebar-icons: #457b9d;
  --color-topbar-icons: ;
  --color-sidebar-text: #457b9d;
  --color-sidebar-hover: #f4a261;
  --color-main-headings: #ffffff;
  --border-search: 1px solid #edede9;

}

html {
  font-size: 15px;
}

body {
  background-color: var(--color-body-bg);
  font-family: var(--font-family);
  font-weight: 300;
  width: 100vw;
  min-height: 100vh;
}

h1,
h2,
h3 {
  text-transform: capitalize;
}

h3 {
  font-weight: 500;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.4;
}

.container {
  width: 90%;
  max-width: 1340px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto;
}

.sidebar {
  padding: 35px 25px;
  background-color: var(--color-sidebar-bg);
}

.nav-link{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 30px 1fr;
  align-items: center;
  padding: 5px 0;
  color: var(--color-sidebar-text);
}

.company-logo {
  margin-bottom: 40px;
  position: relative;
}

.company-logo img{
  display: inline;
  position: absolute;
  width: 1.7rem;
  height: auto;
  fill: var(--color-sidebar-icons);
  top: 1px;
  left: 55px;
}

.company-logo h1 {
  display: inline;
  font-size: var(--font-h1);
}

.item{
  font-size: var(--font-text);
  text-transform: capitalize;
  font-weight: var(--font-medium);
  margin-bottom: 14px;  
}

.item:nth-child(8) {
  margin-top: 40px;
}

.item-icon {
  width: 1.3rem;
  height: auto;
  fill: var(--color-sidebar-icons);
}

.nav-link:hover, .nav-link svg:hover {
  color: var(--color-sidebar-hover);
  fill: var(--color-sidebar-hover);
}

.main {
  display: flex;
  flex-direction: column;
  background-color: var(--color-main-bg);
  padding-left: 15px; 
}

.topbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: var(--color-topbar-bg);
  justify-content: space-between;
  padding: 5px 10px 22px;
  margin-bottom: 20px;
  box-shadow: 0px 15px 5px -15px rgba(0,0,0,0.2);
}

.search {
  display: grid;
  grid-template-columns: auto 4fr 2fr;
  grid-template-rows: auto;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 28px;
  grid-column: span 2;
}

.search-icon, .reminder-icon {
  width: 1.35em;
  height: auto;
  fill: var(--color-topbar-icons);
}

.search-bar {
  width: 85%;
  height: 1.5rem;
  border: var(--border-search);
  border-radius: 8px;
  padding: 3px 8px;
}
.search-icon {
  margin-right: 8px;
}

.profile-info {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  align-items: center;
  justify-content: end;
  justify-items: end;
  gap: 0.8rem;
  font-weight: var(--font-medium);
}

.profile-icon-sm{
  max-width: 40px;
  height: auto;
  border-radius: 50%;
}

.actions {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-column: span 2;
}

.greeting {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  gap: 16px;
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.message p:first-child {
  font-size: 0.9rem;
  padding-bottom: 3px;
}

.message p:nth-child(2) {
  font-weight: var(--font-medium);
}

.profile-icon-lg {
  height: 80px;
  border-radius: 50%;
}

.ctrl-btns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  grid-template-rows: auto;
  align-content: center;
  justify-content: space-between;
  gap: 12px;
}

.ctrl-btns button {
  background-color: var(--color-btn-bg);
  color: var(--color-btn-text);
  outline: none;
  padding: 5px 16px;
  border: 1px solid var(--color-btn-bg);
  border-radius: 20px;
  font-size: 1rem;
  font-weight: var(--font-medium);
}

.ctrl-btns button:hover {
  background-color: ;
  color: ;
}

/*----------------------*/

.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: start;
  gap: 10px;
}

.projects {
  grid-row: span 3;
}

.trending {
  grid-column: 2;
  /* grid-row: 1/2; */
}

.projects,
.announcements,
.trending {
  padding: 20px 10px 10px 0;
}

.projects h2,
.announcements h2,
.trending h2 {
  margin-bottom: 10px;
}
.projects h3,
.announcements h3,
.trending h3 {
  margin-bottom: 6px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  gap: 24px;
}

.card {
  background-color: var(--color-cards-bg);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  min-height: 225px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.card .thumb {
  /* background: url(https://picsum.photos/536/354); */
  max-width: 100%;
  height: auto;
  padding-bottom: 25%;
  margin-bottom: 1rem;
  background-size: cover;
  background-position: center center;
}

.card h3,
.card p {
  padding: 0 20px 0;
}

.card .external-icons {
  display: flex;
  gap: 12px;
  margin: 16px 20px;
  justify-content: flex-end;
}

.card .external-icons * {
  max-width: 22px;
  height: auto;
}

.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.notes {
  background-color: var(--color-cards-bg);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 14px 14px 0 14px;
}

.note {
  padding-bottom: 24px;
}


.trends {
  background-color: var(--color-cards-bg);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 14px 14px 0 14px;
  display: grid;
  grid-template-columns: 1fr;
}

.trend {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  justify-items: start;
  gap: 5px;
  padding: 9px 0;
}

.avatar {
  flex: 0;
}

.footer {
  grid-column: span 2;
  border: 1px solid black;
}